<header class="flex gap-2 justify-between px-10 py-4">
    <div class="text-4xl">
        <span class="font-bold font-serif">K</span> Krist
    </div>
    <nav class="hidden md:flex items-center">
        <ul class="flex gap-3 lg:gap-14">
            <li>Home</li>
            <li class="flex items-center">
                Shop 
                <div class="flex items-center">
                    <i class="material-icons">keyboard_arrow_down</i>

                </div>
            </li>
            <li>Our Story</li>
            <li>Blog</li>
            <li>Contact Us</li>
        </ul>
    </nav>

    <div class="flex gap-3 items-center">
        <i class="material-icons">search</i>
        <i class="material-icons">favorite</i>
        <i class="material-icons">shopping_bag</i>
        <button class="bg-black text-white py-2 px-5 rounded-md">Login</button>
        <span class="block md:hidden"><i class="material-icons hidden">menu</i></span>
    </div>
</header>