<header class="flex gap-2 justify-between px-5 md:px-10 py-4">
    <div class="text-4xl">
        <span class="font-bold font-serif">K</span> Krist
    </div>
    <nav class="hidden md:flex items-center">
        <ul class="flex gap-3 lg:gap-14">
            <li class="cursor-pointer">Home</li>
            <li class="flex items-center cursor-pointer">
                Shop 
                <div class="flex items-center">
                    <i class="material-icons">keyboard_arrow_down</i>

                </div>
            </li>
            <li class="cursor-pointer">Our Story</li>
            <li class="cursor-pointer">Blog</li>
            <li class="cursor-pointer">Contact Us</li>
        </ul>
    </nav>

    <div class="flex gap-3 items-center">
        <i class="material-icons cursor-pointer">search</i>
        <span class="hidden md:block cursor-pointer"><i class="material-icons">favorite</i></span>
        <span class="hidden md:block  cursor-pointer"><i class="material-icons">shopping_bag</i></span>
        <button class="bg-black text-white py-2 px-6 text-sm md:text-lg rounded-md  cursor-pointer">Login</button>
        <span class="block md:hidden  cursor-pointer"><i class="material-icons">menu</i></span>
    </div>
</header>