<div class="flex flex-col shadow">
    <div class="flex">
        <div class="p-3">
            <div class="rounded-full overflow-clip ">
                <img style="height: 50px;" src="https://picsum.photos/200" alt="User Image">
            </div>
        </div>
        <div class="flex flex-col justify-center">
            <span>Hello 👋</span>
            <p class="font-extrabold">Robert Fox</p>
        </div>
    </div>
    <hr class="border-gray-300">
    <div>
        <ul>
            <li class="flex gap-2 px-3 py-3">
                <i class="material-icons">person</i>
                <p class="text-nowrap">Personal Information</p>
            </li>
            <li class="flex gap-2 px-3 py-3">
                <i class="material-icons">inventory</i>
                <p class="text-nowrap">My Orders</p>
            </li>
            <li class="flex gap-2 px-3 py-3 bg-black text-white">
                <i class="material-icons">favorite</i>
                <p class="text-nowrap">My Wishlist</p>
            </li>
            <li class="flex gap-2 px-3 py-3">
                <i class="material-icons">location_on</i>
                <p class="text-nowrap">Manage Address</p>
            </li>
            <li class="flex gap-2 px-3 py-3">
                <i class="material-icons">credit_card</i>
                <p class="text-nowrap">Saved Cards</p>
            </li>
            <li class="flex gap-2 px-3 py-3">
                <i class="material-icons">notifications</i>
                <p>Notifications</p>
            </li>
            <li class="flex gap-2 px-3 py-3">
                <i class="material-icons">settings</i>
                <p>Settings</p>
            </li>
        </ul>
    </div>
</div>