<div class="flex flex-col shadow">
    <div class="flex justify-between">
        <div class="flex">
            <div class="p-3">
                <div class="rounded-full overflow-clip ">
                    <img style="height: 50px;" src="https://picsum.photos/200" alt="User Image">
                </div>
            </div>
            <div class="flex flex-col justify-center">
                <span>Hello 👋</span>
                <p class="font-extrabold">Robert Fox</p>
            </div>
        </div>
        <div class="flex items-center pr-3">
            <span class="block sm:hidden"><i class="material-icons">keyboard_arrow_down</i></span>
        </div>
    </div>
    <hr class="border-gray-300">
    <div class="hidden sm:block">
        <ul>
            <li class="flex gap-2 px-3 py-3 hover:bg-black hover:text-white cursor-pointer">
                <i class="material-icons">person</i>
                <p class="text-nowrap">Personal Information</p>
            </li>
            <li class="flex gap-2 px-3 py-3 hover:bg-black hover:text-white cursor-pointer">
                <i class="material-icons">inventory</i>
                <p class="text-nowrap">My Orders</p>
            </li>
            <li class="flex gap-2 px-3 py-3 hover:bg-black hover:text-white cursor-pointer">
                <i class="material-icons">favorite</i>
                <p class="text-nowrap">My Wishlist</p>
            </li>
            <li class="flex gap-2 px-3 py-3 hover:bg-black hover:text-white cursor-pointer">
                <i class="material-icons">location_on</i>
                <p class="text-nowrap">Manage Address</p>
            </li>
            <li class="flex gap-2 px-3 py-3 hover:bg-black hover:text-white cursor-pointer">
                <i class="material-icons">credit_card</i>
                <p class="text-nowrap">Saved Cards</p>
            </li>
            <li class="flex gap-2 px-3 py-3 hover:bg-black hover:text-white cursor-pointer">
                <i class="material-icons">notifications</i>
                <p>Notifications</p>
            </li>
            <li class="flex gap-2 px-3 py-3 hover:bg-black hover:text-white cursor-pointer">
                <i class="material-icons">settings</i>
                <p>Settings</p>
            </li>
        </ul>
    </div>
</div>